nav.p-5.mx-auto.border-2 
    .flex.flex-row.justify-between.items-center 
        div 
            a.text-lg.font-bold(href="/portal/") Sentence Diagramming Tool Admin
        div.flex.flex-row.justify-between.space-x-5
            a(href="/portal") Quizzes
            a(href="/portal/sentences") Sentences
            a(href="/portal/grades") Grades