extends layout 

block content 
    .p-5
        h2.font-light.text-lg Grades 
        div.relative.overflow-x-auto.pt-2
            table.w-full.text-sm.text-left.text-gray-500
                thead.text-xs.text-gray-700.uppercase.bg-gray-50
                    tr
                        th.px-6.py-3(scope='col') Quiz
                        th.px-6.py-3(scope='col') Length
                        th.px-6.py-3(scope='col') Score
                        th.px-6.py-3(scope='col') Date Taken
                tbody
                    each d in data
                        tr.bg-white.border-b
                            th.font-medium.text-gray-900.px-6.py-4(scope='row') Test Quiz
                            td.px-6.py-4= quiz.length
                            td.px-6.py-4= d.score
                            td.px-6.py-4= d.date

    script(type='text/javascript' src="/js/app.js")